{% extends '::base.html.twig' %}

{% block body %}

    <!-- Header -->
    <header>
        <div class="sticky-nav">
            <a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>
            <div style="display: inline;margin-left: 20px">
                <a href="/">
                    <img class="jna-top-logo" style="max-width: 100%;max-height: 100%" src="{{ asset('build/img/jna-small-logo.png') }}">
                </a>
            </div>

            <nav id="menu">
                <ul id="menu-nav">
                    <li class="current"><a href="#work">Nos réalisations</a></li>
                    <li><a href="#about">Qui sommes-nous ?</a></li>
                    <li><a href="#contact">Contactez-nous</a></li>
                </ul>
            </nav>


        </div>
    </header>
    <!-- End Header -->
    <div class="container">
        <div class="row">
            <div class="span12">
                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="flash-notice">
                        {{ flashMessage }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Our Work Section -->
    <div id="work" class="page">
        <div class="container">
            <!-- Title Page -->
            <div class="row">
                <div class="span12">
                    <div class="title-page">
                        <h2 class="title">Nos réalisations</h2>
                    </div>
                </div>
            </div>
            <!-- End Title Page -->

            <!-- Portfolio Projects -->
            <div class="row">
                <div class="span3">
                    <!-- Filter -->
                    <div class="hidden-xs" style="width: 150px;height: 70px;margin-bottom: 30px">
                        <img class="jna-top-logo" style="max-width: 100%;max-height: 100%" src="{{ asset('build/img/jna-big-logo.png') }}">
                    </div>
                    <nav id="options" class="work-nav">
                        <ul id="filters" class="option-set" data-option-key="filter">
                            <li class="type-work">Portfolio</li>
                            <li><a href="#filter" data-option-value="*" class="selected">Tous</a></li>
                            {% for workType in workTypes %}
                                <li><a href="#filter" data-option-value="{{ '.'~workType.machineName }}">{{ workType.type }}</a></li>
                            {% endfor %}
                        </ul>
                    </nav>
                    <!-- End Filter -->
                </div>

                <div class="span9">
                    <div class="row">
                        <section id="projects">
                            <ul id="thumbs">
                                {% for project in projects %}
                                    <!-- Item Project and Filter Name -->
                                    {% if project.workType is not null %}
                                        <li class="item-thumbs span3 {{ project.workType.machineName }}">
                                            <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                            <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="{{ project.title }}" href="{{ asset('build/img/projects/' ~ project.filename) }}">
                                                <span class="overlay-img"></span>
                                                <span class="overlay-img-thumb font-icon-plus"></span>
                                            </a>
                                            <!-- Thumb Image and Description -->
                                            {% if project.filename is not null %}
                                                <img src="{{ asset('build/img/projects/' ~ project.filename) | apply_filter('project_thumb') }}" alt= "{{ project.description }} ">
                                            {% endif %}

                                        </li>
                                        <!-- End Item Project -->
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </section>

                    </div>
                </div>
            </div>
            <!-- End Portfolio Projects -->
        </div>
    </div>
    <!-- End Our Work Section -->

    <!-- About Section -->
    <div id="about" class="page-alternate">
        <div class="container">
            <!-- Title Page -->
            <div class="row">
                <div class="span12">
                    <div class="title-page">
                        <h2 class="title">Qui sommes-nous ?</h2>
                        <h3 class="title-description">Apprenez-en davantage sur notre équipe et notre philosophie</h3>
                    </div>
                </div>
            </div>
            <!-- End Title Page -->
            <div class="row">
                <div class="span12 profile">
                    <h3 class="profile-name">Notre philosophie</h3>
                    <p class="profile-description">JNA Rénovation est une jeune compagnie titulaire d’une licence RBQ d’entrepreneur général.<br/>
                        Notre compagnie est composée d’un personnel expérimenté et titulaire de cartes de compétences.<br/><br/>
                        JNA Rénovation œuvre au niveau résidentiel et commercial et réalise des travaux de toute ampleur, de la rénovation de cuisines, à celle de salles de bain,
                        en passant par la construction d’extensions complètes.<br/>
                        Au fil des ans, notre expertise s’est également étendue au revêtement extérieur, à la toiture, à l’installation de portes et fenêtres,
                        à la rénovation du sous-sol, ainsi qu’au plâtrage et à la peinture.<br/><br/>
                        JNA Rénovation mise sur une éthique de travail consistant à offrir un travail de grande qualité, effectué avec le souci du détail et de la finition.<br/>
                        Nous faisons affaire avec des sous-traitants compétents et de confiance pour exécuter nos travaux.<br/>
                        Notre compagnie cherche à être compétitive sur le marché. Ainsi, nous offrons un tarif décret, ainsi que hors décret (plus compétitif) lorsque possible.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- End About Section -->



    <!-- Contact Section -->
    <div id="contact" class="page">
        <div class="container">
            <!-- Title Page -->
            <div class="row">
                <div class="span12">
                    <div class="title-page">
                        <h2 class="title">Contactez-nous</h2>
                        <h3 class="title-description">Pour vos projets ou vos questions, écrivez-nous.</h3>
                    </div>
                </div>
            </div>
            <!-- End Title Page -->

            <!-- Contact Form -->
            <div class="row">
                <div class="span9">

                    <form id="contact-form" class="contact-form" action="{{ path('main_homepage') }}" method="post">
                        <label>Nom : </label>
                        <p class="contact-name">
                            {{ form_row(form.name) }}
                        </p>
                        <label>Courriel : </label>
                        <p class="contact-email">
                            {{ form_row(form.email) }}
                        </p>
                        <label>Votre demande : </label>
                        <p class="contact-message">
                            {{ form_row(form.body) }}
                        </p>
                        {{ form_rest(form) }}
                        <p class="contact-submit">
                            <input class="submit" type="submit" value="Envoyez votre courriel" />
                        </p>
                    </form>
                </div>

                <div class="span3">
                    <div class="contact-details">
                        <h3>JNA-Renovation</h3>
                        <ul>
                            <li><a href="mailto:jean-nicolas@jna-renovation.com">jean-nicolas@jna-renovation.com</a></li>
                            <li>(514) 839-3424</li>
                            <li>
                                JNA Rénovation Inc.
                            </li>
                            <li>
                                #RBQ : 5680-7563-01
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Contact Form -->
        </div>
    </div>
    <!-- End Contact Section -->

    <!-- Footer -->
    <footer>
        <p class="credits">&copy;2013 Brushed. <a href="http://themes.alessioatzeni.com/html/brushed/" title="Brushed | Responsive One Page Template">Brushed Template</a></p>
    </footer>
    <!-- End Footer -->

    <!-- Back To Top -->
    <a id="back-to-top" href="#">
        <i class="font-icon-arrow-simple-up"></i>
    </a>
    <!-- End Back to Top -->

{% endblock %}
